.container {
    margin-top: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    color: #333;
}

.filters {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-width {
    width: 100%;
}

.one-third-width {
    width: 38.4%;
}

.filters label {
    margin-right: 10px;
    font-weight: bold;
}

.filters select, .filters input {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filters select:focus,
.filters input:focus {
    border: 1.5px solid #007bff;
    outline: none;
}

.filter-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-button:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-striped tbody tr:hover {
    background-color: #e9ecef;
}

.local-time {
    color: #555;
}

.print-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
}

.print-button:hover {
    background-color: #0056b3;
}

/* Tablet and smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters label, .filters select, .filters input, .filters button {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }

    .table {
        display: block;
        overflow-x: auto;
    }

    .table thead {
        display: none;
    }

    .table tbody {
        display: flex;
        flex-direction: column;
    }

    .table tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;
    }

    .table td {
        flex: 1 1 50%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
        font-size: 14px;
    }

    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
        text-align: left;
    }

    .print-button {
        width: 100%;
        margin-top: 10px;
    }
}

/* Mobile screens */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters {
        padding: 10px;
        flex-direction: column;
    }

    .filters label, .filters select, .filters input, .filters button {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }

    .table {
        display: block;
        overflow-x: auto;
    }

    .table thead {
        display: none;
    }

    .table tbody {
        display: flex;
        flex-direction: column;
    }

    .table tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;
    }

    .table td {
        flex: 1 1 50%;
        display: flex;
        justify-content: space-between;
        padding: 8px;
        border: none;
        font-size: 12px;
    }

    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
        text-align: left;
    }

    .print-button {
        width: 100%;
        margin-top: 10px;
    }
}

@media print {
    .print-button, .card-footer, .filters, .bukti, header, footer{
        display: none !important;
    }

    .table a {
        display: none;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
    }

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 12px;
    }

    .table th {
        background-color: #f8f9fa;
        color: #333;
    }
}
