.container {
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}

.filters button:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-striped tbody tr:hover {
    background-color: #e9ecef;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.btn-edit, .btn-delete, .btn-add {
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none; /* Ensure no border */
}

.btn-edit {
    background-color: #ffc107;
}

.btn-edit:hover {
    background-color: #e0a800;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-add {
    background-color: #28a745;
}

.btn-add:hover {
    background-color: #218838;
}

.btn-delete form {
    display: inline;
}

.local-time {
    color: #555;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out;
}

/* Tablet and smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters button {
        margin-bottom: 10px;
        width: 100%;
    }

    .table th, .table td {
        padding: 10px;
        font-size: 14px;
    }

    .print-button {
        width: 100%;
        margin-top: 10px;
    }
}

/* Mobile screens */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters button {
        margin-bottom: 10px;
        width: 100%;
    }

    .table th, .table td {
        padding: 8px;
        font-size: 12px;
    }
}
