.container {
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #555;
}

th {
    background-color: #f9fafb;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-tambah {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0069d9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 10px;
}

.btn-tambah:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 5px;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-warning {
    background-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out;
}

.filters {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-width {
    width: 100%;
}

.filters label {
    margin-right: 10px;
    font-weight: bold;
}

.filters select, .filters input {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filters select:focus,
.filters input:focus {
    border: 1.5px solid #007bff;
    outline: none;
}

.filter-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-button:hover {
    background-color: #0056b3;
}

@media (max-width: 780px) {
    .container {
        padding: 20px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    .btn-tambah, .btn {
        padding: 8px 12px;
        font-size: 14px;
    }

    .btn-tambah {
        width: 100%;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters label, .filters select, .filters input, .filters button {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1em;
        margin-bottom: 15px;
        text-align: center;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

    .btn-tambah, .btn {
        padding: 6px 10px;
        font-size: 12px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 10px 0;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        white-space: nowrap;
    }

    td:before {
        position: absolute;
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    td:nth-of-type(1):before { content: "Nama"; }
    td:nth-of-type(2):before { content: "Email"; }
    td:nth-of-type(3):before { content: "Hak Akses Sebagai"; }
    td:nth-of-type(4):before { content: ""; }

    .filters {
        padding: 10px;
        flex-direction: column;
    }

    .filters label, .filters select, .filters input, .filters button {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }
}
